*{
    margin:0;
    padding:0;
}

.cardhead{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px 10px; 
    background-color: rgb(212, 209, 209);
}


.graphsection{
    padding: 10px 10px;
}

.corporatesec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px 10px; 
}

table{
    width: 500px;  
}

tr th{
    text-align: left;
    border-bottom: 1px solid black;
    border-left: none;
}

tr td{
    padding: 10px;
}

.splitssec{
    border:none; 
    border-radius: 8px;
    padding: 10px 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

h1{
    text-align:left ;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}